{% extends 'base.jinja2' %}

{% block content %}

    <head>
        <script src="{{ static('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ static('assets/plg/form/jquery.form.js') }}"></script>
        <script src="{{ static('assets/plg/form/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ static('assets/plg/range/ion.rangeSlider.min.js') }}"></script>
        <script src="{{ static('assets/js/scripts.js') }}"></script>
    </head>


    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Ожидание оплаты
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ url('shopapp:index') }}">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Ожидание оплаты</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="ProgressPayment">
                    <div class="ProgressPayment-title" id="progress">Ждем подтверждения оплаты платежной системой
                    </div>
                    <div>
                        {% if status %}
                            {{ status }}
                        {%  endif %}
                    </div>
                    <div class="ProgressPayment-icon">
                        <div class="cssload-thecube">
                            <div class="cssload-cube cssload-c1"></div>
                            <div class="cssload-cube cssload-c2"></div>
                            <div class="cssload-cube cssload-c4"></div>
                            <div class="cssload-cube cssload-c3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function checkStatus() {
            jQuery.ajax({
                url: 'http://0.0.0.0:8000/payment/check_status/?task_id={{ task_id }}',

                type: 'GET',
                success: function(data) {
                   if (data.status === 'success' || data.status === 'failed') {
                        console.log('Статус успешен. Перенаправление на другой URL.');
                        window.location.href = 'http://0.0.0.0:8000/orders/history-order/{{ order_id }}';
                    }
                    else {
                        console.log('Статус не успешен. Повторяем через 5 секунд.');
                        setTimeout(checkStatus, 5000);
                    }
                },
                error: function() {
                    console.log('Ошибка AJAX-запроса');
                }
            });
        }
        checkStatus();
    </script>


{% endblock %}