<div class="row Header-rowMain">
    <div class="row-block Header-logo">
        <a class="logo" href="{{ url('shopapp:index') }}">
            <img class="logo-image" src="{{ static('assets/img/logo.png') }}" alt="logo.png">
        </a>
    </div>
</div>