 <div class="Header-searchWrap">
        <div class="wrap">
        {# Категории добавлены (Фёдор) #}
            <div class="Header-categories">
                <div class="CategoriesButton">
                    <div class="CategoriesButton-title">
                        <div class="CategoriesButton-icon"><img src="{{ static('assets/img/icons/allDep.svg') }}" alt="allDep.svg" /></div>
                        <span class="CategoriesButton-text">Все категории</span>
                        <div class="CategoriesButton-arrow"></div>
                    </div>
                    <div class="CategoriesButton-content">
                    <form action="" id="catalog_form" method="post">
                        {% csrf_token %}
                        {% for category in active_categories %}
                            <div class="CategoriesButton-link">
                                <a href="javascript:;" class="Category-Link">
                                <div class="CategoriesButton-icon"><img src="{{ static('assets/img/icons/departments/' ~ category.sort_index ~ '.svg') }}" alt="{{ category.sort_index ~ '.svg' }}" /></div>
                                <span class="CategoriesButton-text">{{ category.name }}</span>
                                </a>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="category" id="category_value" value="">
                        <input type="hidden" id="price" name="price" value="1;100000">
                    </form>
                    </div>
                </div>
            </div>
        {# Окончание категорий (Фёдор) #}
            <div class="Header-searchLink"><img src="{{ static('assets/img/icons/search.svg') }}" alt="search.svg" />
            </div>
            <div class="Header-search">
                <div class="search">
                    <form class="form form_search" action="#" method="post">
                        <input class="search-input" id="query" name="query" type="text" placeholder="NVIDIA GeForce RTX 3060" />
                        <button class="search-button" type="submit" name="search" id="search"><img src="{{ static('assets/img/icons/search.svg') }}" alt="search.svg" />Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script>
              document.querySelectorAll('.Category-Link').forEach((link) => link.addEventListener('click', (event)=>{
              event.preventDefault();
              document.getElementById('category_value').value = link.querySelector('.CategoriesButton-text').textContent;
              document.getElementById('catalog_form').submit();
              }));
        </script>
    </div>