{% extends 'base.jinja2' %}

{% block title %}
    История заказов
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                {% set view_page = "hist_order" %}
                {% include 'profileapp/account_navigation.jinja2' %}
                <div class="Section-content">
                    <div class="Orders">
                        {% include 'profileapp/orders_list.jinja2' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
