<div class="Section Section_column Section_columnRight">
    <div class="wrap">
        <div class="Section-content">
            <div class="Slider Slider_carousel">
                <header class="Section-header Section-header_close">
                    <h2 class="Section-title">Ограниченный тираж
                    </h2>
                    <div class="Section-control">
                        <div class="Slider-navigate">
                            <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">
                                Previous
                            </button>
                            <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next
                            </button>
                            <ul class="slick-dots" role="tablist" style="">
                                <li class="slick-active" role="presentation">
                                    <button type="button" role="tab" id="slick-slide-control10"
                                            aria-controls="slick-slide10" aria-label="1 of 2" tabindex="0"
                                            aria-selected="true">1
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="button" role="tab" id="slick-slide-control11"
                                            aria-controls="slick-slide12" aria-label="2 of 2" tabindex="-1">2
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="button" role="tab" id="slick-slide-control12"
                                            aria-controls="slick-slide14" aria-label="3 of 2" tabindex="-1">3
                                    </button>
                                </li>
                                <li role="presentation">
                                    <button type="button" role="tab" id="slick-slide-control13"
                                            aria-controls="slick-slide16" aria-label="4 of 2" tabindex="-1">4
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="Slider-box Cards slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable">
                        <div class="slick-track"
                             style="opacity: 1; width: 8200px; transform: translate3d(-1640px, 0px, 0px);">
                            {% for product_seller in limited_edition %}
                                <div class="Slider-item slick-slide slick-cloned" tabindex="-1" role="tabpanel" id=""
                                     aria-describedby="slick-slide-control12" style="width: 410px;"
                                     data-slick-index="-4"
                                     aria-hidden="true">
                                    <div class="Slider-content">
                                        <div class="Card">
                                            <a class="Card-picture"
                                               href="{{ url('shopapp:product_detail', product_slug=product_seller.product.slug) }}"><img
                                                    src="{{ product_seller.product.image.url }}"
                                                    alt="{{ product_seller.product.name }}"></a>
                                            <div class="Card-content">
                                                <strong class="Card-title"><a
                                                        href="{{ url('shopapp:product_detail', product_slug=product_seller.product.slug) }}">{{ product_seller.product.name }}</a>
                                                </strong>
                                                <div class="Card-description">
                                                    <div class="Card-cost"><span
                                                            class="Card-price">${{ product_seller.price }}</span>
                                                    </div>
                                                    <div class="Card-category">{{ product_seller.product.category.name }}
                                                    </div>
                                                    <div class="Card-hover"><a class="Card-btn"
                                                                               href="{{ url('cart_and_orders:add_to_cart', product_id=product_seller.id) }}"
                                                                               title="Добавить в корзину">
                                                        <img src="{{ static('assets/img/icons/card/cart.svg') }}"
                                                             alt="Добавить в корзину"/>
                                                    </a>
                                                        <a class="Card-btn"
                                                           href="{{ url('shopapp:compare_add', product_id=product_seller.id) }}"
                                                           title="Добавить в список сравнения">
                                                            <img src="{{ static('assets/img/icons/card/compare.svg') }}"
                                                                 alt="Сравнение"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    var countdownElement = document.querySelector('.CountDown');
    var currentDate = new Date();
    var endDate = new Date(currentDate);
    endDate.setHours(23, 59, 59, 0);

    function updateCountdown() {
        var currentTime = new Date();
        var timeRemaining = endDate - currentTime;

        var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        countdownElement.querySelector('.CountDown-days').textContent = days;
        countdownElement.querySelector('.CountDown-hours').textContent = hours;
        countdownElement.querySelector('.CountDown-minutes').textContent = minutes;
        countdownElement.querySelector('.CountDown-secs').textContent = seconds;
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
</script>