{% extends 'base.jinja2' %}

<script src="{{ static('assets/js/scripts.js') }}"></script>

{% block content %}

    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link Tabs-link_ACTIVE" id="show_reviews" href="#">
                                <span>Скидки:</span>
                            </a>
                        </div>
                            <div class="Tabs-block" id="sellers" style="display: none;">
                                <div class="Section-content">
                                    <div class="Orders">
                                            <div class="Order Order_anons">
                                                    <div class="Order-personal">
                                                        <div class="row"></div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        <div class="Tabs-block" id="reviews" style="">
                            <header class="Section-header">
                                <h3 class="Section-title">
                                    <span class="Comment-date">
                                        Всего скидок: {{ discounts|length }}
                                    </span>
                                </h3>
                            </header>
                            <div class="Comments" id="comments-section">
                                {% if discounts %}
                                    {% for discount in discounts %}
                                <div class="Comment" style="margin-bottom: 20px">
                                    <div class="Comment-column Comment-column_pict">
                                        <div class="Comment-avatar" style="background-image: url('../static/assets/img/icons/card/discount.svg')"></div>
                                    </div>
                                    <div class="Comment-column">
                                        <header class="Comment-header">
                                            <div>
                                                <strong class="Comment-title">{{ discount.title }}</strong>
                                                <span class="Comment-date">
                                                    {% if discount.start and discount.end %}
                                                        Скидка действительна с {{ discount.start.strftime('%d-%m-%Y') }} по {{ discount.end.strftime('%d-%m-%Y') }}
                                                    {% endif %}
                                                    {% if discount.start and not discount.end %}
                                                        Скидка действительна с {{ discount.start.strftime('%d-%m-%Y') }}
                                                    {% endif %}
                                                    {% if not discount.start and discount.end %}
                                                        Скидка действительна по {{ discount.end.strftime('%d-%m-%Y') }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </header>
                                        <div class="Comment-content">{{ discount.description }}</div>
                                    </div>
                                </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}