{% extends 'base.jinja2' %}

{% block header %}
    {{ super() }}
    {% include 'shopapp/banners.jinja2' %}
{% endblock %}

{% block content %}
    <div class="Middle">
        {% include 'shopapp/limited_offers.jinja2' %}
        {% include 'shopapp/limited_edition.jinja2' %}
    </div>
{% endblock %}
