{% extends 'base.jinja2' %}

{% block header %}
    {{ super() }}
    {% include 'shopapp/banners.jinja2' %}
{% endblock %}

{% block content %}
    <div class="Middle">
        {% include 'shopapp/limited_offer.jinja2' %}
        {% include 'shopapp/limited_edition.jinja2' %}
    </div>
    <script>
    var countdownElement = document.querySelector('.CountDown');
    var currentDate = new Date();
    var endDate = new Date(currentDate);
    endDate.setHours(23, 59, 59, 0);

    function updateCountdown() {
        var currentTime = new Date();
        var timeRemaining = endDate - currentTime;

        var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        countdownElement.querySelector('.CountDown-days').textContent = days;
        countdownElement.querySelector('.CountDown-hours').textContent = hours;
        countdownElement.querySelector('.CountDown-minutes').textContent = minutes;
        countdownElement.querySelector('.CountDown-secs').textContent = seconds;
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
</script>
{% endblock %}
