{% extends 'base.jinja2' %}

{% block header %}
    {{ super() }}
    {% include 'shopapp/banners.jinja2' %}
{% endblock %}

{% block content %}
    {% include 'shopapp/top_products.jinja2' %}
{% endblock %}
