{% extends 'base.jinja2' %}

{% block header_down %}
    {% include 'header_down_mini.jinja2' %}
{% endblock %}

{% block content %}
<div style="height: 70vh; padding-left: 12px; padding-top: 12px;">
    <h3>Сброс пароля совершен успешно. Войдите в учетную запись, используя новый пароль.</h3>
</div>
{% endblock %}
