{% extends 'base.jinja2' %}

{% block content %}
<div class="row Header-rowMain">
    <div class="row-block Header-logo">
        <a class="logo" href="index.html">
            <img class="logo-image" src="{{ static('assets/img/logo.png') }}" alt="logo.png">
        </a>
    </div>
</div>
<div>
    <p>Пользователь: {{ user.email }}</p>
    {% if user.avatar %}
    <img src="{{ media/ + user.avatar }}" alt="Текущий аватар">
    {% else %}
    <p>Аватар не загружен.</p>
    {% endif %}
</div>
<h2>Загрузить аватар</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p() }}
    <button type="submit">Загрузить</button>
</form>
{% endblock %}