{% extends 'admin/base.html' %}
{% block extrahead %}
    {% load static %}
    <script type="text/javascript" src="{% static 'assets/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/for_import.js' %}"></script>
{% endblock %}
{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ header }}</h2>
            {{ form.as_p }}
            <div class="submit-row">
                <input type="submit" value="Upload file">
                {#                <button class="button" type="submit">Upload file</button>#}
            </div>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <button class="button is-primary" data-type="1">Short</button>
    <br><br>
    <h1>Статус импорта:</h1>
    <div>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
        </table>
    </div>
{% endblock %}