{% extends 'base.jinja2' %}

{% block header %}
    {% include 'headers/header_control.jinja2' %}
    {% include 'headers/header_logo.jinja2' %}
{% endblock %}

{% block content %}
<div class="wrapper">
                <div class="header">
                    <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                    <h5>Придумайте новый пароль для учетной записи</h5>
                </div>
                <form action="#" method="post">
                    <div>
                    {% if form.password.errors %}
                        <span class="error-text" style="color: rgb(255, 0, 0);>{{ form.password.errors }}</span>
                    {% endif %}
                    <input class="user-input" type="password" name="password" id="password" placeholder="Пароль" {% if form.password.errors %}style="border: 1px solid rgb(255, 0, 0);"{% endif %} value="{{ form.password.value()|default_if_none("") }}">
                    </div>
                    <div>
                        <input type="submit" value="Сохранить пароль">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
{% endblock %}
