{% extends 'base.jinja2' %}

{% block header %}
    {% include 'headers/header_control.jinja2' %}
    {% include 'headers/header_logo.jinja2' %}
{% endblock %}

{% block content %}
<div style="height: 70vh; padding-left: 12px; padding-top: 12px;">
    <h3>На вашу почту отправлена ссылка для сброса пароля учетной записи.</h3>
</div>
{% endblock %}
